body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.editar{
	color: black;
}
.lista{
	background-color: #ffedc9;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
}

.excluir{
	color: red;
}

.nome{
	color: black;
	font-weight: bold;
	font-size: 1.3rem;
}

.header{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffc75a;
	color: #be5b00;
}